*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* 
    background-color: aqua;
    background: linear-gradient(to right, rgb(177, 186, 240), rgb(109, 185, 204));
    */
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.menu-show{
    visibility: hidden;
}

.tamanho-nav{
    width: auto;
    margin-top: 20px;
}


#barraPesquisa{
    margin-right: 5px;
}


.conteudo{
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.quadrado{
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255,255,0.100);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-sizing: border-box;
    border-radius: 1rem;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .teste{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .menu{
        visibility: hidden;
    }

    .menu-show{
        visibility: visible;
        margin-left: 5px;
    }

    .links{
        width: auto;
    }

    .szBarra{
        width: 320px;
    }

}
